/* Button */

.button {
    display: inline-block;
    padding: 15px 25px;
    border: none;
    border-radius: 12px;
    color: #fff;
}

.button-primary {
    background-color: #0081ff;
}

.button-secondary {
    background-color: #39b54a;
}

.button-wrapper-right {
    text-align: right;
}