/* Card */

.card {
    padding: 20px 15px;
    margin-bottom: 30px;
    border-radius: 12px;
    background: #efefef;
    text-align: center;
}

.services-icon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: 5px solid #fff;
    border-radius: 50%;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 4);
    background-color: #efefef;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60% auto;
}

.icon-software-builder {
    background-image: url('../img/Linhas-de-Serviço-DBC_Software-Builder.png');
}

.icon-smartsourcing {
    background-image: url('../img/Linhas-de-Serviço-DBC_Smartsourcing.png');
}

.icon-sustain {
    background-image: url('../img/Linhas-de-Serviço-DBC_Sustain.png');
}

.icon-agil {
    background-image: url('../img/Linhas-de-Serviço-Agil.png');
}