/* Contato */

.map-wrapper {
    height: 300px;
    margin: 15px -15px -29px;
}

@media (min-width: 720px) {
    .map-wrapper {
        width: 50vw;
        height: auto;
        margin: 0;
        position: absolute;
        top: 78.6667px;
        right: 0;
        bottom: 127.3333px;
        z-index: 1;
    }
}

.map {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}