/* POKEDEX */

.pokeDex {
    max-width: 1000px;
    min-height: 500px;
    margin: auto;
    background-color: rgb(226, 31, 80);
    border-radius: 30px;
}

.pokeDex,
.imagem,
.tipo-list > li,
.tamano > h5,
.tamanho-background,
.estatisticas-list > li,
.pokeDexRight,
.dadosPokemon,
.imgNome,
.tela {
    border: 2px solid black;
}

.pokeDex > .row {
    min-height: 500px;
}

.pokeDex .col {
    padding: 50px;
}

.pokeDex ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pokeDexLeft {
    border-right: 2px solid black;
    text-align: center;
}

.tipo-list {
    display: flex;
}

.tipo-list > li {
    margin-right: 15px;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

input {
    margin: 10px;
}

#dadosPokemon1 {
    padding-top: 25px;
}

.form,
.imagem {
    margin: auto;
}

.imgNome {
    padding-top: 50px;
    height: 60%;
    min-height: 300px;
    vertical-align: middle;
    background-color: grey;
    position: relative;
}

.tela {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
    background-color: white;
}

.imgNome,
.tela {
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.imagem {
    height: 100px;
    width: 100px;
    border-radius: 12px;
    background-color: rgb(110, 206, 86) ;
}

.nome-box {
    min-width: 150px;
    min-height: 75px;
    margin: auto;
    text-align: center;
}

.dadosPokemon {
    margin: 30px, 5px;
    position: relative;
    min-height: 400px;
    background-color: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.dadosPokemon,
.tela {
    box-shadow: inset 0 0 1em red;
}

@media( max-width: 720px) {
    .dadosPokemon {
        border-bottom-left-radius: 30px;
        border-top-right-radius: 0px;
    }

    .imgNome,
    .tela {
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0px;
    }
}

.tamanho,
.estatisticas {
    width: 80%;
}

.tamanho {
    display: flex;
    top: 50px;
}

.tipos,
.tamanho,
.estatisticas {
    padding: 20px;
    position: absolute;
}

.estatisticas > .row {
    margin-left: 0px;
}

.estatisticas {
    top: 150px;
}

.tamanho > h5 {
    margin-right: 15px;
    padding: 10px;
}

.tamanho-background {
    background-color: lightgray;
    border-radius: 5px;
}

.estatisticas-list > li {
    background-color: lightskyblue;
}